@import "../styles/tokens.module";

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.error {
    color: $marigold;
    transform: translateY(-16px);
    margin: 0;
}

.input {
    flex-grow: 1;
    padding: $basePadding * 3;
    border-radius: $basePadding * 2;
    border: 0 none;
    outline: 1px solid $hellebore;
    margin: 0 0 $basePadding * 5 0;
}
.inputLabel {
    margin-bottom: $basePadding * 2;
}

.inputWrapper {
    display: flex;
    position: relative;
}

.inputIconWrapper {
    position: absolute;
    right: $basePadding * 2;
    top: $basePadding * 2;
}

.input.valid {
    outline: 1px solid $hosta;
}

.input.invalid {
    outline: 1px solid $marigold;
}

.sibling {
    $gap: $basePadding * 3;
    width: calc(50% - $gap);
    float: left;
    margin-right: $gap;
}