@import "../styles/tokens.module";

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.error {
    color: $marigold;
}

.input {
    flex-grow: 1;
    padding: $basePadding * 3;
    border-radius: $basePadding * 2;
    border: 0 none;
}
.input:valid {
    outline: 1px solid $hosta;
}

.input:invalid {
    outline: 1px solid $marigold;
}