@import "../styles/tokens.module";

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.error {
    color: $marigold;
}

.input {
    flex-grow: 1;
    padding: $basePadding * 3;
    border-radius: $basePadding * 2;
    border: 0 none;
    outline: 1px solid $hellebore;
    margin: $basePadding * 2 0 0 0;
}

.sibling {
    $gap: $basePadding * 3;
    width: calc(50% - $gap);
    float: left;
    margin-right: $gap;
}

// .input:valid {
//     outline: 1px solid $hosta;
// }

// .input:invalid {
//     outline: 1px solid $marigold;
// }